@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #003366;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);

  --animate-loading: loading 1.5s ease-in-out infinite;

  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

@media (prefers-color-scheme: light) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
    --background: #ffffff;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

@layer base {
  input,
  select {
    @apply h-8.75 border border-solid border-gray-300 p-2 rounded-lg w-full truncate bg-transparent outline-none;
  }
  select {
    @apply text-xs h-8.75;
  }
}

@layer utilities {
  .container {
    @apply max-w-300 mx-auto px-4;
  }
  .loading-bar::after {
    @apply content-[''] absolute top-0 left-0 w-[180%] h-full bg-linear-to-r from-transparent via-[#eeeeee] to-transparent animate-loading;
  }
  .burger_button {
    @apply lg:hidden flex flex-col gap-1.5;
  }
  .burger_button span {
    @apply block rounded-md h-1.5 w-11 bg-primary transition ease-in-out duration-200 cursor-pointer relative z-40;
  }
  .burger_button.active span:first-child {
    @apply transform rotate-45 translate-y-3;
  }
  .burger_button.active span:nth-child(2) {
    @apply opacity-0;
  }
  .burger_button.active span:last-child {
    @apply transform -rotate-45 -translate-y-3;
  }
}
